html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root{
  height: 100vh;
  margin: 0;
}

body, section, input, textarea{
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
a:hover{
  color: coral;
}
header{
  grid-area: header;
  background: #203040;
  display: flex;
  align-items: center;
  padding: .5rem;
}

header a{
  color: #fff;
  text-decoration: none;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
  background: #203040;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}